In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('D:\DISHWISE\DS FILES\DATASET (1).csv')
df1 = pd.read_csv('D:\DISHWISE\DS FILES\seasonb.csv')
df2 = pd.read_csv('D:\DISHWISE\DS FILES\\tamil_nadu_dataset.csv')

In [7]:
unique_commodities = df['Commodity'].unique()
print("Unique Commodities:", unique_commodities)
print("Number of Unique Commodities:", len(unique_commodities))

Unique Commodities: ['Dry Chillies' 'Paddy(Dhan)(Common)' 'Maize' 'Cotton' 'Jowar(Sorghum)'
 'Chili Red' 'Coriander(Leaves)' 'Brinjal' 'Tube Flower' 'Jasmine'
 'Marigold(Calcutta)' 'Kakada' 'Mint(Pudina)' 'Onion Green' 'Banana'
 'Beans' 'Bhindi(Ladies Finger)' 'Coconut' 'Knool Khol' 'Lime'
 'Elephant Yam (Suran)' 'Yam (Ratalu)' 'Bitter gourd' 'Pumpkin'
 'Cluster beans' 'Amaranthus' 'Ashgourd' 'Ridgeguard(Tori)' 'Carrot'
 'Beetroot' 'Ginger(Green)' 'Cabbage' 'Snakeguard' 'Drumstick' 'Chow Chow'
 'Raddish' 'Onion' 'Potato' 'Cauliflower' 'Lemon' 'Colacasia'
 'Bottle gourd' 'Tomato' 'Green Chilli' 'Green Avare (W)' 'Banana - Green'
 'Soyabean' 'Mango (Raw-Ripe)' 'Copra' 'Ragi (Finger Millet)' 'Mango'
 'Guava' 'Mashrooms' 'Chikoos(Sapota)' 'Papaya' 'Amla(Nelli Kai)'
 'Sesamum(Sesame,Gingelly,Til)' 'Groundnut' 'Ground Nut Seed'
 'Black Gram (Urd Beans)(Whole)' 'Coconut Seed' 'Jack Fruit'
 'Tamarind Fruit' 'Tapioca' 'Cowpea(Veg)' 'Water Melon' 'Garlic'
 'Pomegranate' 'Tender Coconut' 'Thondekai' 'Jamun(Narale Hannu)'
 'Capsicum' 'Mousambi(Sweet Lime)' 'Cucumbar(Kheera)'
 'Indian Beans (Seam)' 'Custard Apple (Sharifa)' 'Betal Leaves'
 'Fig(Anjura/Anjeer)' 'Karbuja(Musk Melon)' 'Rose(Local)' 'Sweet Potato'
 'Turnip' 'Corriander seed' 'Foxtail Millet(Navane)' 'Kodo Millet(Varagu)'
 'T.V. Cumbu' 'Green Gram Dal (Moong Dal)' 'Green Gram (Moong)(Whole)'
 'Tobacco' 'Pineapple' 'Green Peas' 'Kulthi(Horse Gram)' 'Gur(Jaggery)'
 'Apple' 'Grapes' 'Orange' 'Turmeric' 'Cowpea (Lobia/Karamani)'
 'Castor Seed' 'Groundnut pods (raw)' 'Karamani' 'Thinai (Italian Millet)'
 'Sugarcane' 'Bajra(Pearl Millet/Cumbu)' 'Arhar (Tur/Red Gram)(Whole)'
 'Moath Dal' 'Tube Rose(Loose)' 'Groundnut (Split)' 'Spinach'
 'Pear(Marasebu)' 'Tamarind Seed' 'Hybrid Cumbu' 'Gingelly Oil'
 'Ground Nut Oil' 'Sunflower' 'Beaten Rice' 'Black Gram Dal (Urd Dal)'
 'Other Pulses' 'Sunflower Seed' 'Red Gram' 'Mustard' 'Big Gram'
 'Black pepper' 'Cashewnuts' 'Arecanut(Betelnut/Supari)' 'Ginger(Dry)'
 'Bengal Gram(Gram)(Whole)' 'Cotton Seed' 'Wheat' 'Neem Seed'
 'Pepper ungarbled' 'Rubber' 'Cashew Kernnel' 'Same/Savi' 'Avare Dal'
 'Paddy(Dhan)(Basmati)' 'Rice' 'Arhar Dal(Tur Dal)' 'White Pumpkin'
 'Bengal Gram Dal (Chana Dal)' 'Coffee' 'Kabuli Chana(Chickpeas-White)']
Number of Unique Commodities: 142

In [8]:
data= pd.merge(df, df1, on='Commodity', how='inner')
data

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_Price,Max_Price,Modal_Price,Commodity_Code,Type,Month Start,Month End
0,Tamil Nadu,Ramanathapuram,Kamuthi,Dry Chillies,Other,FAQ,28/11/2012,2500.0,4000.0,3000.0,132,Kharif,June,October
1,Tamil Nadu,Ramanathapuram,Kamuthi,Dry Chillies,Other,FAQ,10/12/2012,2500.0,4000.0,3500.0,132,Kharif,June,October
2,Tamil Nadu,Ramanathapuram,Kamuthi,Dry Chillies,Other,FAQ,12/12/2012,2500.0,4000.0,3500.0,132,Kharif,June,October
3,Tamil Nadu,Ramanathapuram,Kamuthi,Dry Chillies,Other,FAQ,19/12/2012,2500.0,4000.0,3500.0,132,Kharif,June,October
4,Tamil Nadu,Ramanathapuram,Kamuthi,Dry Chillies,Other,FAQ,27/12/2012,2500.0,4000.0,3500.0,132,Kharif,June,October
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667548,Tamil Nadu,Thiruvarur,Valangaiman,Green Chilli,Green Chilly,Local,23/09/2024,4200.0,4200.0,4200.0,87,Kharif,June,October
667549,Tamil Nadu,Thiruvarur,Valangaiman,Green Chilli,Green Chilly,Local,25/08/2024,5000.0,5000.0,5000.0,87,Kharif,June,October
667550,Tamil Nadu,Thiruvarur,Valangaiman,Green Chilli,Green Chilly,Local,26/09/2024,3600.0,3600.0,3600.0,87,Kharif,June,October
667551,Tamil Nadu,Thiruvarur,Valangaiman,Green Chilli,Green Chilly,Local,29/08/2024,4400.0,4400.0,4400.0,87,Kharif,June,October
667552,Tamil Nadu,Thiruvarur,Valangaiman,Green Chilli,Green Chilly,Local,30/08/2024,4400.0,4400.0,4400.0,87,Kharif,June,October

In [9]:
data['Arrival_Date'] = pd.to_datetime(data['Arrival_Date'])
data['Year'] = data['Arrival_Date'].dt.year
data['Month'] = data['Arrival_Date'].dt.month
monthly_avg = data.groupby(['Year', 'Month', 'District', 'Market', 'Commodity', 'Variety'])[['Min_Price', 'Max_Price', 'Modal_Price']].mean().reset_index()
merged_data = pd.merge(df1, monthly_avg, on=['Commodity'], how='inner')
merged_data

C:\Users\aadhi\AppData\Local\Temp\ipykernel_9716\3643288117.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['Arrival_Date'] = pd.to_datetime(data['Arrival_Date'])

,Commodity,Type,Month Start,Month End,Year,Month,District,Market,Variety,Min_Price,Max_Price,Modal_Price
0,Dry Chillies,Kharif,June,October,2012,10,Erode,Moolanur,Other,4875.000000,7125.000000,5625.000000
1,Dry Chillies,Kharif,June,October,2012,10,Salem,Kolathur,Other,5300.000000,6817.647059,6000.000000
2,Dry Chillies,Kharif,June,October,2012,11,Dindigul,Dindigul,Other,3250.000000,4666.666667,3933.333333
3,Dry Chillies,Kharif,June,October,2012,11,Erode,Moolanur,Other,4200.000000,6500.000000,5300.000000
4,Dry Chillies,Kharif,June,October,2012,11,Ramanathapuram,Kamuthi,Other,2500.000000,4000.000000,3166.666667
...,...,...,...,...,...,...,...,...,...,...,...,...
45673,Ground Nut Oil,Kharif,June,October,2014,11,Cuddalore,Kurinchipadi,Ground Nut Oil,5382.000000,5578.250000,5480.250000
45674,Ground Nut Oil,Kharif,June,October,2014,11,Sivaganga,Singampuneri,Other,3500.000000,4500.000000,4200.000000
45675,Ground Nut Oil,Kharif,June,October,2018,7,Cuddalore,Cuddalore,Ground Nut Oil,5565.000000,5565.000000,5565.000000
45676,Ground Nut Oil,Kharif,June,October,2019,2,Cuddalore,Cuddalore,Ground Nut Oil,6786.000000,7274.000000,7274.000000
45677,Ground Nut Oil,Kharif,June,October,2019,3,Cuddalore,Cuddalore,Ground Nut Oil,6095.666667,7220.333333,6944.666667

In [10]:
sorted_data = merged_data.sort_values(['Month', 'District', 'Market', 'Commodity', 'Variety'])
sorted_data = sorted_data.reset_index(drop=True)
print(sorted_data)
sorted_data

          Commodity    Type Month Start Month End  Year  Month      District  \
0         Groundnut  Kharif        June   October  2019      1      Ariyalur
1         Groundnut  Kharif        June   October  2024      1      Ariyalur
2      Hybrid Cumbu  Kharif        June   October  2024      1      Ariyalur
3             Maize  Kharif        June   October  2024      1      Ariyalur
4       Castor Seed  Kharif        June   October  2022      1      Ariyalur
...             ...     ...         ...       ...   ...    ...           ...
45673  Dry Chillies  Kharif        June   October  2018     12  Virudhunagar
45674  Dry Chillies  Kharif        June   October  2018     12  Virudhunagar
45675         Maize  Kharif        June   October  2018     12  Virudhunagar
45676         Maize  Kharif        June   October  2023     12  Virudhunagar
45677    T.V. Cumbu  Kharif        June   October  2023     12  Virudhunagar

                Market       Variety    Min_Price     Max_Price  Modal_Price
0            Andimadom         Other  5100.000000   5375.000000  5200.000000
1            Andimadom         Other  8763.692308  10144.923077  9796.076923
2            Andimadom  Hybrid Cumbu  3080.166667   3092.666667  3088.500000
3            Andimadom         Other  1788.250000   1844.250000  1837.000000
4      Ariyalur Market         Other  4121.000000   4444.000000  4255.000000
...                ...           ...          ...           ...          ...
45673     Virudhunagar         Other  5500.000000   6500.000000  6000.000000
45674     Virudhunagar           Red  6550.000000   7300.000000  6933.333333
45675     Virudhunagar         Local  1700.000000   1800.000000  1750.000000
45676     Virudhunagar         Local  2037.500000   2300.000000  2200.000000
45677     Virudhunagar         Other  2500.000000   3000.000000  2750.000000

[45678 rows x 12 columns]

,Commodity,Type,Month Start,Month End,Year,Month,District,Market,Variety,Min_Price,Max_Price,Modal_Price
0,Groundnut,Kharif,June,October,2019,1,Ariyalur,Andimadom,Other,5100.000000,5375.000000,5200.000000
1,Groundnut,Kharif,June,October,2024,1,Ariyalur,Andimadom,Other,8763.692308,10144.923077,9796.076923
2,Hybrid Cumbu,Kharif,June,October,2024,1,Ariyalur,Andimadom,Hybrid Cumbu,3080.166667,3092.666667,3088.500000
3,Maize,Kharif,June,October,2024,1,Ariyalur,Andimadom,Other,1788.250000,1844.250000,1837.000000
4,Castor Seed,Kharif,June,October,2022,1,Ariyalur,Ariyalur Market,Other,4121.000000,4444.000000,4255.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
45673,Dry Chillies,Kharif,June,October,2018,12,Virudhunagar,Virudhunagar,Other,5500.000000,6500.000000,6000.000000
45674,Dry Chillies,Kharif,June,October,2018,12,Virudhunagar,Virudhunagar,Red,6550.000000,7300.000000,6933.333333
45675,Maize,Kharif,June,October,2018,12,Virudhunagar,Virudhunagar,Local,1700.000000,1800.000000,1750.000000
45676,Maize,Kharif,June,October,2023,12,Virudhunagar,Virudhunagar,Local,2037.500000,2300.000000,2200.000000
45677,T.V. Cumbu,Kharif,June,October,2023,12,Virudhunagar,Virudhunagar,Other,2500.000000,3000.000000,2750.000000

In [11]:


commodity_variety_dict = sorted_data.groupby('Commodity')['Variety'].apply(lambda x: sorted(x.unique())).to_dict()

print(commodity_variety_dict)

{'Amaranthus': ['Amaranthus'], 'Apple': ['American'], 'Ashgourd': ['Gouard'], 'Banana': ['Besrai', 'Other', 'Poovan', 'Red Banana', 'Robusta'], 'Banana - Green': ['Banana - Green'], 'Beans': ['Beans (Whole)'], 'Beetroot': ['Beetroot'], 'Bitter gourd': ['Bitter Gourd'], 'Bottle gourd': ['Bottle Gourd'], 'Brinjal': ['Arkasheela Mattigulla', 'Brinjal', 'Round'], 'Cabbage': ['Cabbage'], 'Capsicum': ['Capsicum'], 'Carrot': ['Pusakesar'], 'Castor Seed': ['Caster', 'Castor seed', 'Other'], 'Cauliflower': ['Ranchi'], 'Chili Red': ['Bold', 'Other', 'Red'], 'Chow Chow': ['Chow Chow'], 'Cluster beans': ['Cluster Beans'], 'Coconut': ['Big', 'Coconut', 'Grade- II', 'Grade-I', 'Grade-III', 'Medium', 'Other', 'Small'], 'Coconut Seed': ['Coconut Seed', 'Other'], 'Copra': ['Ball', 'Copra', 'Medium', 'Milling Copra', 'Small', 'other'], 'Cotton': ['170-C2  (Ginned)', '170-CO2 (Unginned)', 'A-51-9 24mm. FIne', 'Bunny', 'Cotton (Ginned)', 'Cotton (Unginned)', 'DCH-32  (Ginned)', 'DCH-32(Unginned)', 'Desi', 'GCH', 'LD-491', 'LRA', 'LRA  (Ginned)', 'Local', 'MCU', 'MCU 5', 'MCU-7', 'Other', 'RCH-2', 'Surabi', 'Varalaxmi'], 'Cowpea (Lobia/Karamani)': ['Cowpea (W-S)', 'Cowpea (Whole)', 'Jawari/Local', 'Other'], 'Custard Apple (Sharifa)': ['Custard Apple(Sharifa)'], 'Drumstick': ['Drumstick'], 'Dry Chillies': ['1st Sort', 'Dry Chillies', 'Fine 2', 'Local', 'Other', 'Red', 'Red Top'], 'Elephant Yam (Suran)': ['Elephant Yam (Suran)', 'Other'], 'Garlic': ['Average'], 'Gingelly Oil': ['Gingelly Oil', 'Other'], 'Grapes': ['Annabesahai'], 'Green Avare (W)': ['Avare (W)'], 'Green Chilli': ['Green Chilly'], 'Green Gram Dal (Moong Dal)': ['Green Gram Dal', 'Other'], 'Green Peas': ['Green Peas', 'Other'], 'Ground Nut Oil': ['Ground Nut Oil', 'Other'], 'Ground Nut Seed': ['Ground Nut Seed', 'Other'], 'Groundnut': ['Balli/Habbu', 'Big (With Shell)', 'Bold', 'Bold Kernel', 'DMV-7', 'Groundnut seed', 'Gungri (With Shell)', 'Hybrid', 'JL-24', 'Local', 'Other', 'Seed', 'TMV-2', 'VRI - 1'], 'Groundnut (Split)': ['Groundnut(Split)', 'Other'], 'Groundnut pods (raw)': ['Groundnut pods (raw)', 'Other'], 'Guava': ['Guava Alahabad'], 'Hybrid Cumbu': ['Hybrid Cumbu', 'Other'], 'Indian Beans (Seam)': ['Indian Beans (Seam)'], 'Jack Fruit': ['Jack Fruit'], 'Jasmine': ['Jasmine'], 'Kakada': ['Kakada'], 'Karamani': ['Karamani', 'Other'], 'Knool Khol': ['Knool Khol'], 'Lemon': ['Lemon'], 'Lime': ['Lime'], 'Maize': ['Deshi Red', 'Deshi White', 'Fine', 'Hybrid', 'Hybrid Red (Cattle Feed)', 'Hybrid Yellow (Cattle Feed)', 'Hybrid/Local', 'Local', 'Medium', 'Megha', 'Other', 'Prakash', 'Red', 'White Local', 'Yellow'], 'Mango': ['Safeda'], 'Mango (Raw-Ripe)': ['Mango - Raw-Ripe'], 'Moath Dal': ['Moath (W)'], 'Onion': ['Bellary', 'Medium', 'Nasik', 'Onion', 'Other', 'Small'], 'Onion Green': ['Onion Green'], 'Orange': ['Darjeeling'], 'Papaya': ['Papaya'], 'Pineapple': ['Pine Apple'], 'Pomegranate': ['Pomogranate'], 'Potato': ['(Red Nanital)', 'Badshah', 'Jyoti'], 'Pumpkin': ['Pumpkin'], 'Raddish': ['Other', 'Raddish'], 'Ragi (Finger Millet)': ['Feeds (Poultry Quality)', 'Fine', 'Local', 'Medium', 'Medium Fine', 'Other', 'Red'], 'Soyabean': ['Black', 'Local', 'Other'], 'Spinach': ['Spinach'], 'Sugarcane': ['Other', 'Sugarcane'], 'Sweet Potato': ['Hosur Red'], 'T.V. Cumbu': ['Other', 'T.V. Cumbu'], 'Tamarind Fruit': ['Chapathi', 'Other', 'Seedless 1Variety', 'Seedless 2Variety', 'Tamarind Fruit', 'With Seed 1Variety', 'With Seed 2Variety'], 'Tamarind Seed': ['Other'], 'Tapioca': ['Other', 'Tapioca'], 'Tender Coconut': ['Tender Coconut'], 'Thinai (Italian Millet)': ['Other', 'Thinai (Italian Millet)'], 'Thondekai': ['Thondekai'], 'Tobacco': ['Other', 'Verginia'], 'Tomato': ['Deshi', 'Other'], 'Tube Flower': ['Tube Flower'], 'Turmeric': ['Bulb', 'Finger', 'Other', 'Turmeric'], 'Turnip': ['Turnip'], 'Water Melon': ['Other', 'Water Melon'], 'Yam (Ratalu)': ['Yam (Ratalu)']}

In [10]:
# prompt: map the Month with the name of the month according to number

month_map = {
    1: 'January',
    2: 'February',
    3: 'March',
    4: 'April',
    5: 'May',
    6: 'June',
    7: 'July',
    8: 'August',
    9: 'September',
    10: 'October',
    11: 'November',
    12: 'December'
}
sorted_data['Month_Name'] = sorted_data['Month'].map(month_map)
print(sorted_data)
pd.drop(sorted_data['Month'])
sorted_data

          Commodity    Type Month Start Month End  Year  Month      District  \
0         Groundnut  Kharif        June   October  2019      1      Ariyalur
1         Groundnut  Kharif        June   October  2024      1      Ariyalur
2      Hybrid Cumbu  Kharif        June   October  2024      1      Ariyalur
3             Maize  Kharif        June   October  2024      1      Ariyalur
4       Castor Seed  Kharif        June   October  2022      1      Ariyalur
...             ...     ...         ...       ...   ...    ...           ...
45673  Dry Chillies  Kharif        June   October  2018     12  Virudhunagar
45674  Dry Chillies  Kharif        June   October  2018     12  Virudhunagar
45675         Maize  Kharif        June   October  2018     12  Virudhunagar
45676         Maize  Kharif        June   October  2023     12  Virudhunagar
45677    T.V. Cumbu  Kharif        June   October  2023     12  Virudhunagar

                Market       Variety    Min_Price     Max_Price  Modal_Price  \
0            Andimadom         Other  5100.000000   5375.000000  5200.000000
1            Andimadom         Other  8763.692308  10144.923077  9796.076923
2            Andimadom  Hybrid Cumbu  3080.166667   3092.666667  3088.500000
3            Andimadom         Other  1788.250000   1844.250000  1837.000000
4      Ariyalur Market         Other  4121.000000   4444.000000  4255.000000
...                ...           ...          ...           ...          ...
45673     Virudhunagar         Other  5500.000000   6500.000000  6000.000000
45674     Virudhunagar           Red  6550.000000   7300.000000  6933.333333
45675     Virudhunagar         Local  1700.000000   1800.000000  1750.000000
45676     Virudhunagar         Local  2037.500000   2300.000000  2200.000000
45677     Virudhunagar         Other  2500.000000   3000.000000  2750.000000

      Month_Name
0        January
1        January
2        January
3        January
4        January
...          ...
45673   December
45674   December
45675   December
45676   December
45677   December

[45678 rows x 13 columns]

AttributeError: module 'pandas' has no attribute 'drop'

In [12]:
sorted_data.to_csv('FINAL.csv', encoding = 'utf-8-sig')
sorted_data

,Commodity,Type,Month Start,Month End,Year,Month,District,Market,Variety,Min_Price,Max_Price,Modal_Price
0,Groundnut,Kharif,June,October,2019,1,Ariyalur,Andimadom,Other,5100.000000,5375.000000,5200.000000
1,Groundnut,Kharif,June,October,2024,1,Ariyalur,Andimadom,Other,8763.692308,10144.923077,9796.076923
2,Hybrid Cumbu,Kharif,June,October,2024,1,Ariyalur,Andimadom,Hybrid Cumbu,3080.166667,3092.666667,3088.500000
3,Maize,Kharif,June,October,2024,1,Ariyalur,Andimadom,Other,1788.250000,1844.250000,1837.000000
4,Castor Seed,Kharif,June,October,2022,1,Ariyalur,Ariyalur Market,Other,4121.000000,4444.000000,4255.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
45673,Dry Chillies,Kharif,June,October,2018,12,Virudhunagar,Virudhunagar,Other,5500.000000,6500.000000,6000.000000
45674,Dry Chillies,Kharif,June,October,2018,12,Virudhunagar,Virudhunagar,Red,6550.000000,7300.000000,6933.333333
45675,Maize,Kharif,June,October,2018,12,Virudhunagar,Virudhunagar,Local,1700.000000,1800.000000,1750.000000
45676,Maize,Kharif,June,October,2023,12,Virudhunagar,Virudhunagar,Local,2037.500000,2300.000000,2200.000000
45677,T.V. Cumbu,Kharif,June,October,2023,12,Virudhunagar,Virudhunagar,Other,2500.000000,3000.000000,2750.000000

In [12]:
data1=pd.read_csv("D:\DISHWISE\\tamil_nadu_dataset.csv")
district_avg_lat_lon = data1.groupby('District').agg(
    avg_latitude=('Latitude', 'mean'),
    avg_longitude=('Longitude', 'mean')
).reset_index()

district_avg_lat_lon
district_avg_lat_lon.to_csv('location.csv', encoding = 'utf-8-sig')

In [13]:
import pandas as pd
import os

# Define the path to your CSV file and output directory
input_file_path = r'D:\DISHWISE\DS FILES\DATASET (1).csv'
output_dir = r'D:\DISHWISE\DS FILES\split_files'  # Adjust as necessary
os.makedirs(output_dir, exist_ok=True)

# Read the CSV file in chunks
chunk_size = 25000000  # 25 MB
chunk_number = 0

# Use chunksize to read in manageable chunks
for chunk in pd.read_csv(input_file_path, chunksize=chunk_size):
    # Create a new file for each chunk
    chunk_file_path = os.path.join(output_dir, f'dataset_part_{chunk_number}.csv')
    chunk.to_csv(chunk_file_path, index=False)
    print(f'Saved: {chunk_file_path}')
    chunk_number += 1

print("Splitting completed!")

Saved: D:\DISHWISE\DS FILES\split_files\dataset_part_0.csv
Splitting completed!